## Este arquivo é gerado automaticamente pelo Android Studio.
## Não versionar este arquivo! Ele já está no .gitignore.
## O Android Studio vai criar este arquivo com o caminho correto do SDK.
## Exemplo:
# sdk.dir=/Users/seunome/Library/Android/sdk
